{% extends 'layout.twig' %}

{% block content %}
<span style="font-size:16px;">Dear {{ first_name }},</span>

Your password was successfully reset. If this was not requested by yourself please forward this to your administrator for further investigation.

IP Address: {{ ip }}

Regards,
{{ name }}
{% endblock %}