{% extends 'layout.twig' %}

{% block content %}
<span style="font-size:16px;">Dear {{ variables.first_name }},</span>
<p>A request to reset your password has been initiated. Please click the link below and enter your verification code and your new password to complete this process. If you did not issue this request please reply to this email so that we can investigate this case.</p>
<p>Verification Code: {{ variables.code }}</p>
<p><a href="{{ variables.url }}">{{ variables.url }}</a></p>
<p>IP Address: {{ variables.ip }}</p>
<p>Regards,<br>
{{ variables.name }}</p>
{% endblock %}