{% extends 'layout.twig' %}

{% block content %}
<span style="font-size:16px;">Dear {{ first_name }},</span>

Your profile has now been created and you are one step away from being able to submit a proposal for access. Click the link below to verify your email address and login with your new account.

<a href="{{ verify }}">{{ verify }}</a>

If you did not create this account please reply to this email stating that you consider the request to be malicious.

Regards,
{{ name }}
{% endblock %}