<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ link('css/login.css') }}">
    <title>{% block title %}Login{% endblock %}</title>
    <script>var cmspath = '{{ config.path }}/';var googleapi = '{{ config.googleapi }}';</script>
    <script id="rjs" data-main="{{ link('js/ui_admin/app.js') }}" data-init="front" src="{{ link('js/require.js') }}" async></script>
    {% endblock %}
  </head>
  <body>
    
    <div class="row h-100" id="login-bg" style="background-image:url('{{ link('images/login1.jpg') }}');">
      <div class="col-lg-6 col-md-8 col-sm-10 m-auto">
        <div class="card">
          {% block form %}{% endblock %}
        </div>
        <p class="mt-4 text-center text-white">
          <small>By attempting to login to this system you consent to your IP address and location being stored to prevent fraud.</small><br>
          Copyright &copy; 2019 Callum Smith
        </p>
      </div>
    </div>
    
  </body>
</html>