{% extends 'layout.auth.twig' %}
{% set callback %}
function(settings, data){
  var target = $('#login input[name=target]').val();
  if(data.success){
    window.location.replace(target);
  } else {
    $("#error").html('<div class="alert alert-danger"><i class="fa fa-times-circle"></i> '+data.error.message+' ('+data.error.code+')</div>');
    $("#login input:password").focus().select();
  }
  return false;
}
{% endset %}

{% block form %}
<div class="card-header">
  <h3 class="mb-0">Login</h3>
</div>
<div class="card-body">
  <div id="error"></div>
  <form method="post" action="api/v1/login" class="api-submit" id="login">
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" type="email" autocomplete="email" name="id" required>
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input class="form-control" type="password" autocomplete="current-password" name="password" required>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <a href="{{ link('password') }}?target={{ _get.target }}">Forgotten password?</a>
      </div>
      <div class="col">
        <input type="hidden" name="target" value="{{ _get.target }}">
        <button type="submit" class="btn btn-success btn-lg float-right" data-callback-data="function(data){$('#error').html('');return data;}" data-callback="{{ callback | replace({"\n":""}) }}">Login</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}