{% extends 'layout.auth.twig' %}

{% block form %}
<div class="card-header">
  <h3 class="mb-0">Login</h3>
</div>
<div class="card-body">
  <div id="output"></div>
  {% if _get.code %}
  {% set callback %}
  function(settings, data){
    if(data.success){
      window.location.assign(cmspath+'adm/product')
    } else {
      $("#output").html('<div class="alert alert-danger"><i class="fa fa-times-circle"></i> '+data.error.message+' ('+data.error.code+')</div>');
    }
    return false;
  }
  {% endset %}
  <form method="post" action="api/v1/password-save" class="api-submit" id="password">
    <div class="form-group">
      <label>Code:</label>
      <input class="form-control" type="text" name="code" value="{{ _get.code }}">
    </div>
    <div class="form-group">
      <label>New Password:</label>
      <input class="form-control passwordconfirm" data-target="#password input:password[name='password-confirm']" type="password" name="password">
    </div>
    <div class="form-group">
      <label>Confirm Password:</label>
      <input class="form-control" type="password" name="password-confirm">
    </div>
    <div class="row align-items-center">
      <div class="col">
        <button type="submit" class="btn btn-success btn-lg float-right" data-callback="{{ callback | replace({"\n":""}) }}">Reset Password</button>
      </div>
    </div>
  </form>
  {% else %}
  {% set callback %}
  function(settings, data){
    if(data.success){
      $("#output").html('<div class="alert alert-success"><i class="fa fa-check-circle"></i> Please check your email inbox for instructions on how to reset your password</div>');
    } else {
      $("#output").html('<div class="alert alert-danger"><i class="fa fa-times-circle"></i> '+data.error.message+' ('+data.error.code+')</div>');
    }
    return false;
  }
  {% endset %}
  <form method="post" action="api/v1/password-reset" class="api-submit" id="password">
    <div class="form-group">
      <label>Email:</label>
      <input class="form-control" type="email" name="email">
    </div>
    <div class="row align-items-center">
      <div class="col">
        <input type="hidden" name="target" value="{{ _get.target }}">
        <button type="submit" class="btn btn-success btn-lg float-right" data-callback="{{ callback | replace({"\n":""}) }}">Reset Password</button>
      </div>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}